<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3cb628dd8c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="icon" href="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png">
    <link rel="stylesheet" href="../public/styles/estilos-al.css">
    <title>Accidentes Laborales</title>

</head>
<body>
    <h1>Qué hacer ante un accidente laboral o enfermedad profesional</h1>
    <p>Si sufrís un accidente laboral o enfermedad profesional debes denunciarlo. Estas son las diferentes canales donde podes hacerlo:</p>
    <ul>
        <li>A través de tu empleador quien tiene la responsabilidad de denunciarlo en la Aseguradora de Riesgos del Trabajo a la que se encuentra afiliado.</li>
        <li>En la ART que te brinda cobertura a través de su línea de atención gratuita, telegrama laboral gratuito o por nota en la sede de la Aseguradora. También podes hacer la denuncia en alguno de los prestadores médicos de la ART donde recibirá atención médica y se efectuarán los trámites administrativos correspondientes.</li>
    </ul>
    <p> <strong>Tené en cuenta:</strong> Cualquier testigo que haya tomado conocimiento del hecho tiene la posibilidad de realizar la denuncia.</p>
    <h2>10 Dias</h2>
    <p>A partir de la recepción de la denuncia, la ART tiene un plazo de 10 días hábiles para rechazar el accidente laboral o enfermedad profesional.</p>
    <h2>10 Dias</h2>
    <p>La ART podrá extender el plazo para rechazar o no por otros 10 días hábiles, siempre que le notifique al trabajador y al empleador de forma perrogativa antes de los 10 días de recibida la denuncia.</p>

    <h2>10 Dias</h2>
    <p>Si la ART rechazó tu denuncia de accidente de trabajo y enfermedad profesional podes acercarte a la Comisión Médica que corresponde a tu domicilio o al lugar donde trabajas para iniciar el correspondiente trámite.</p>


    <footer>
        <div class="pie">
        <div class="footer-izq">
        <figure class="box1">
            <a href="#"><img src="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png" alt="" width="60px" height="60px"></a>
        </figure>
            <em>Javier Victor Aaron Esposito - Procurador</em>
        </div>
        
        <div class="footer-der">
            <p class="contacto2">Contacto:</p>
            <i class="fa-brands fa-whatsapp"></i><a href="#">2625406813</i></a>
            <br>
            <i class="fa-solid fa-envelope"></i><a href="#">javieresposito@gmail.com</i></a>
        </div>
        </div>
    </footer>
</body>
</html>