<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/estilos-despdios.css">
    <script src="https://kit.fontawesome.com/3cb628dd8c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="icon" href="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png">
    <title>Despidos</title>

</head>
<body>
    <h1 class="titulo1">Despidos</h1>
    <p>Si te despiden tienen que hacerlo por escrito y aclarar cuál es el motivo. Si tu empleador no acalara el motivo, el despido se considera sin causa y te corresponde una indemnización. <span>Ley 20.744</span> </p>
    <h2>Emergencia laboral</h2>
    <p>Se extiende hasta el 30 de junio de 2022 la emergencia pública en materia ocupacional declarada por el decreto de necesidad y urgencia 34/2019.

        Durante la emergencia pública en materia ocupacional, la trabajadora o el trabajador despedido sin justa causa tendrá derecho a la indemnización por la legislación aplicable y a recibir los siguientes incrementos:</p>
        <ul>
            <li>Del 75 % del monto de la indemnización desde el 1 de enero de 2022 hasta el 28 de febrero de 2022,</li>
            <li>Del 50 % del monto de la indemnización desde el 1 de marzo de 2022 hasta el 30 de abril de 2022,</li>
            <li>Del 25 % del monto de la indemnización desde el 1 de mayo de 2022 hasta el 30 de junio de 2022.</li>
        </ul>
        <p>Los porcentajes se calcularán sobre todos los rubros indemnizatorios originados por el despido sin causa.

            En ningún caso el monto de la doble indemnización podrá ser superior a $500.000.
            
            Esta norma no se aplica a las contrataciones posteriores a la entrada en vigencia del decreto 34/2019 (13 de diciembre de 2019) ni al Sector Público Nacional.</p>
            <h2>Emergencia sanitaria</h2>
            <p>El decreto 329/2020 prohibió los despidos sin justa causa y por las causales de falta o disminución de trabajo y fuerza mayor por 60 días a partir del 31/3/2020.

                El decreto 413/2021 extiende hasta el 31 de diciembre de 2021 la prohibición de efectuar despidos sin justa causa y por las causales de falta o disminución de trabajo y fuerza mayor.
                
                El decreto 413/2021 extiende hasta el 31 de diciembre de 2021 la prohibición de efectuar suspensiones por las causales de fuerza mayor o falta o disminución de trabajo salvo las suspensiones efectuadas en los términos del artículo 223 bis de la Ley de Contrato de Trabajo
                
                Los despidos y las suspensiones que se realicen sin respetar las prohibiciones no producen ningún efecto y las relaciones laborales se mantienen vigentes.
                
                Estas prohibiciones de despidos y suspensiones no se aplican:</p>
                <ul>
                    <li>A los trabajadores contratados después del 14 de diciembre de 2019 (fecha de entrada en vigencia del decreto 34/2019).</li>
                    <li>Al sector público nacional.</li>
                    <li>Al Personal de la industria de la construcción (Ley 22.250).</li>
                </ul>

                <h2>Comunicación del despido</h2>
                <h3>¿Qué tengo que hacer si recibo un telegrama de despido?</h3>
                <p>Contestarlo inmediatamente. De lo contrario, la causa que use el empleador para despedirte puede considerarse.</p>
                <h3>Me despidieron pero no me dicen por qué, ¿es legal?</h3>
                <p>Sí. Si recibiste un telegrama de despido que no indica ninguna causa, tenés derecho a que te den la indemnización correspondiente dentro de los 4 días posteriores al despido.</p>
                <h2>Despido de palabra</h2>
                <h3>Mi empleador me dijo que no vaya más a trabajar, ¿qué hago?                </h3>
                <p>Tenés que mandar un telegrama (que es gratuito) a tu empleador pidiéndole que aclare tu situación laboral por escrito. Mientras tanto tenés que seguir yendo a trabajar.No es válido el despido de palabra: el empleador siempre tiene que comunicarlo por escrito</p> 

                
                <h2>Trabajo no registrado</h2>
                <h3>Trabajo en negro y mi empleador me despidió de palabra, ¿qué puedo hacer?
                </h3>
                <p>Como estás en negro, tu empleador no va a aceptar despedirte por escrito, porque sería reconocer la relación de trabajo.

                    Tenés que intimarlo, por medio de un telegrama que es gratuito, para que te inscriba y pases a estar en blanco.</p>

                <h2>Indemnización</h2>
                <h3>¿Es posible que me despidan y no tenga derecho a recibir ninguna indemnización?</h3>
                <p>Sí. En caso de que no hayas cumplido alguno de tus deberes como trabajador, el empleador tiene derecho a despedirte con causa sin pagarte indemnización.

                    El empleador siempre debe comunicarte el despido por escrito y detallar exactamente el motivo que tiene para despedirte.</p>

                <h3>¿Qué indemnización corresponde por despido sin causa?</h3>
                <p>Depende del caso en particular. Por lo general, la indemnización incluye:</p>
                <ul>
                    <li>1 sueldo por año trabajado.</li>
                    <li>1 sueldo por falta de preaviso (cuando el empleador no te avisó con anticipación que te iba a despedir).</li>
                </ul>
                <p>Además:</p>
                <ul>
                    <li>La integración del mes de despido (si te despiden, por ejemplo, a mitad de mes, tienen que pagarte el mes completo).</li>
                    <li>Las vacaciones proporcionales.</li>
                </ul>
                <p>El decreto 34/2019 estableció que en caso de despido sin justa causa, el trabajador tendrá derecho a recibir el doble de la indemnización. Esta norma se aplica hasta el 31 de diciembre de 2021 (decreto 39/2021).

                    En ningún caso el monto de la doble indemnización podrá ser superior a $500.000.
                    
                    La doble indemnización no le corresponde a los trabajadores contratados a partir del 13/12/2019 ni a los trabajadores del sector público nacional.</p>

                <h2>Ir a juicio
                </h2>
                <h3>¿Cuánto tiempo tengo para iniciar un juicio por despido?</h3>
                <p>2 años desde el despido.</p>

                <footer>
                    <div class="pie">
                    <div class="footer-izq">
                    <figure class="box1">
                        <a href="#"><img src="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png" alt="" width="60px" height="60px"></a>
                    </figure>
                        <em>Javier Victor Aaron Esposito - Procurador</em>
                    </div>
                    
                    <div class="footer-der">
                        <p class="contacto2">Contacto:</p>
                        <i class="fa-brands fa-whatsapp"></i><a href="#">2625406813</i></a>
                        <br>
                        <i class="fa-solid fa-envelope"></i><a href="#">javieresposito@gmail.com</i></a>
                    </div>
                    </div>
                </footer>


</body>
</html>