<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <section>
       <header>
        <div>
            <img src="../Public/images/fotos tp integrador 1/logo-mercado-liebre.svg"
             width="400px" height="150px" alt="logotipo">
        </div>
    
        
        Lugar para poner la barra de búsqueda <br> <br>
    

    
    <div>
        Comprá en cuotas y sin tarjeta de crédito
    </div>
        <nav>
            <ul>
    <li> <a href="#ofertas">Ofertas</a></li>
    <li> <a href="#tiendas-oficiales">Tiendas Oficiales</a></li>
    <li> <a href="#vender">Vender</a></li>
    <li> <a href="#ayuda">Ayuda</a></li>
            </ul>
            <ul>
    <li> <a href="#crea-tu-cuenta">Creá tu cuenta</a></li>
    <li> <a href="#ingresa">Ingresá</a></li>
    <li> <a href="#mis-compras">Mis compras</a></li>
            </ul> 
        </nav>
    
    </header>
 
   
   </section>
   <section>
        <main>
            <ul><li>Basado en tu última visita</li></ul>
            <img src="../Public/images/fotos tp integrador 1/img-cafetera-moulinex.jpg" width="250" height="300"alt="img-cafetera-moulinex">  
    <div>$6770</div>
    <div>40% off</div>
    <div>Cafetera Moulinex</div>
    <br>
    <br>
            <img src="../Public/images/fotos tp integrador 1/img-macbook-pro-2019.jpg" width="250" height="300" alt="img-macbook-pro-2019">
    <div>$230000</div>
    <div>20% off</div>
    <div>MacBook Pro 2019</div>
    <br>
    <br>
            <img src="../Public/images/fotos tp integrador 1/img-samsung-galaxy-s10.jpg" width="250" height="300" alt="img-samsung-galaxy-s10">
    <div>$70500</div>
    <div>10% off</div>
    <div>Samsung Galaxy s10</div>
    <br>
    <br>
    <img src="../Public/images/fotos tp integrador 1/img-tv-samsung-smart.jpg" width="300" height="300" alt="img-tv-samsung-smart">
    <div>$23200</div>
    <div>5% off</div>
    <div>SmartTv Samsung 43"</div>

        
   </section>
  
   
   <section>
       <ul><li>Sección de <a id="ofertas" href=""></a> Ofertas</li></ul>
    <img src="../Public/images/fotos tp integrador 1/img-cafetera-moulinex.jpg" width="250" height="300"alt="img-cafetera-moulinex">  
    <div>$6770</div>
    <div>40% off</div>
    <div>Cafetera Moulinex</div>
    <br>
    <br>
            <img src="../Public/images/fotos tp integrador 1/img-macbook-pro-2019.jpg" width="250" height="300" alt="img-macbook-pro-2019">
    <div>$230000</div>
    <div>20% off</div>
    <div>MacBook Pro 2019</div>
    <br>
    <br>
            <img src="../Public/images/fotos tp integrador 1/img-samsung-galaxy-s10.jpg" width="250" height="300" alt="img-samsung-galaxy-s10">
    <div>$70500</div>
    <div>10% off</div>
    <div>Samsung Galaxy s10</div>
    <br>
    <br>
    <img src="../Public/images/fotos tp integrador 1/img-tv-samsung-smart.jpg" width="300" height="300" alt="img-tv-samsung-smart">
    <div>$23200</div>
    <div>5% off</div>
    <div>SmartTv Samsung 43"</div>
   </section>
        </main>
   
   <section>
    <footer>
        <h4> <strong>Pagá con tarjeta o en efectivo</strong> </h4>
            <p>Con MercadoLiebreCash tenes cuotas sin interés con tarjeta
             o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <h4> <strong>Envio gratis desde los $2500 </strong> </h4>
            <p>Solo por estar registrado en MercadoLiebre tenés envios
                gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <h4> <strong>Seguridad de principio a fin</strong> </h4>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada
            que no puedas hacer porque estas siempre protegid@.
        </p>
        <p>Copyright &#169 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

   </section>

    
</body>

</html>