<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/estilos.css">
    <script src="https://kit.fontawesome.com/3cb628dd8c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="icon" href="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    

    <header class="header">
    <div class="menu" id="menu">
        <div class="top-left-header">
            <img src="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png" alt="logo" class="logo">
        </div>
        <div class="navegacion">
            <nav class="nav-bar">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-house"></i>Inicio</a></li>
                    <li><a href="#"><i class="fa-solid fa-file"></i>Servicios</a></li>
                    <li><a href="#"><i class="fa-solid fa-phone"></i>Contacto</a></li>
                </ul>
                
                
            </nav>
        </div>
        <div class="menuh">
          <span class="hamburguesa"><i class="fa-solid fa-bars"></i></span>
        <div class="submenu">
          <ul>
            <li><a href="#menu">Inicio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        </div>

        </div>
        
        <div class="contacto">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
    </header>
    <section class="presentacion">
        <div class="nombre"> 
        <h1 >JAVIER VICTOR AARON ESPOSITO</h1>
        <H2 >Procurador Mat. 802</H2>
    </div>
    

    </section>
    <section class="servicios" id="servicios">
        <div class="container">
            <div class="container text-center">
                <div class="row">
                  <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                    <div class="card">
                        <img src="../public/images/DOBLE-INDEMNIZACION-LABORAL.jpg" alt="" class=card-img-top> 
                            <div class="card-body">
                                <h2><a href="despidos.html">Despidos</a></h2>
                    <p> Asesoramiento en casos de despidos laborales</p>
                            </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                    <div class="card">
                        <img src="../public/images/istockphoto-1297439180-612x612.jpg" alt="" class=card-img-top> 
                            <div class="card-body">
                                <h2><a href="accidente-laboral.html"> Accidentes laborales</a></h2>
                    <p>Asesoramiento en casos de accidentes laborales</p>
                            </div>
                        </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                    <div class="card">
                        <img src="../public/images/480058473.jpg" alt="" class=card-img-top> 
                            <div class="card-body">
                                <h2>Sucesiones</h2>
                    <p>Asesoramiento de distribución de bienes, opciones de adjudicación y venta de bienes y redacción de testamentos.</p>
                            </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-6 col-sm-12 col-lg-6">
                    <div class="card">
                        <img src="../public/images/manos-cerrando-un-trato.jpg" alt="" class=card-img-top> 
                            <div class="card-body">
                                <h2>Contratos</h2>
                    <p>Asesoramiento en redacción, confección e interpretación de contratos; nuevos y en ejecución, rendición de cuentas.</p>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
        </div>
    <section class="enviar-datos">
        <div class="preform">
            <h1>Hacenos tu consulta</h1>
        </div>
        <div class="formulario1">
        <form class="formulario" action="https://formspree.io/f/mnqweodw"method="POST"> 
            
            <p><label for="Nombre y apellido">Nombre y apellido:</label></p>
            <input  class="field" type="text" name="Nombre y apellido" id="Nombre y apellido" required>
            
            <p><label for="email">Email:</label></p>
            <input class="field" type="email" name="email" id="email" required>
            
            <p><label for="teléfono">Teléfono:</label></p>
            <input class="field" type="tel" name="Teléfono" id="teléfono">
            
            <p><label class="field" for="consulta"></label></p>
            <textarea name="consulta" id="consulta" cols="48" rows="15" required placeholder="Su consulta:"></textarea>
            <br>
            <button class="boton" type="submit">Enviar</button>
            <button class="boton" type="reset">Cancelar</button>
            
        </form>
        </div>
        
        
    </section>

    <footer>
        <div class="pie">
        <div class="footer-izq">
        <figure class="box1">
            <a href="#"><img src="../public/images/f9ae1734ee770bc14205d1914da0656e-removebg-preview.png" alt="" width="60px" height="60px"></a>
        </figure>
            <em>Javier Victor Aaron Esposito - Procurador</em>
        </div>
        
        <div class="footer-der">
            <p class="contacto2">Contacto:</p>
            <i class="fa-brands fa-whatsapp"></i><a href="#">2625406813</i></a>
            <br>
            <i class="fa-solid fa-envelope"></i><a href="#">javieresposito@gmail.com</i></a>
        </div>
        </div>
    </footer>
       

    
    </section>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>