*{
    margin: 0%;
    padding: 0%;
}
.header {
    background-color: #eac926;
    font-family: 'Roboto', sans-serif;
}
body{
font-size: 12px;
}
.titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripciones{
    font-size: 16px;
}
.compraencuotas{
    margin-left: 10%;
}
.burguer-menu{
    background-color: #1259c3;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 50%;
    color: white;
}
footer {
    text-align: center;
}
.icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}